# Dependencies
node_modules/
venv/
.venv/
env/

# Next.js
.next/
out/
build/
dist/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite3

# OS & Editor
.DS_Store
.vscode/
.idea/
