services:
  - type: web
    name: trade-mind-backend
    runtime: docker
    repo: https://github.com/ahmedgamal4240-del/trade-mind
    region: ohio
    plan: free
    rootDir: backend
    envVars:
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: GEMINI_API_KEY
        sync: false
